In [29]:
#!pip install feedparser
#!pip install beautifulsoup4
#!pip install bs4
#!pip install lxml
#!pip install pandas
#!pip install umap
#!pip install 'umap-learn==0.3.10'
#!pip install requests
#!pip install nltk
#!pip install umap
#!pip install spacy

In [16]:
#import sys
#sys.path.append('venv/lib/python3.6/site-packages')

In [17]:
#pip install hdbscan

In [27]:
import feedparser
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
import ssl
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
#from umap import UMAP
from hdbscan import HDBSCAN
#import umap.umap_ as UMAP

In [23]:
#pip list

In [30]:
# limpieza

import string
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
import re

In [31]:
cnn = feedparser.parse('http://rss.cnn.com/rss/edition.rss')

In [32]:
def CNN_parser():
    CNN_list=[]
    CNN_URLS = {
    "Top Stories": "http://rss.cnn.com/rss/edition.rss",
    "World": "http://rss.cnn.com/rss/edition_world.rss",
    "Africa": "http://rss.cnn.com/rss/edition_africa.rss",
    "Americas": "http://rss.cnn.com/rss/edition_americas.rss",
    "Asia": "http://rss.cnn.com/rss/edition_asia.rss",
    "Europe": "http://rss.cnn.com/rss/edition_europe.rss",
    "Middle East": "http://rss.cnn.com/rss/edition_meast.rss",
    "U.S.": "http://rss.cnn.com/rss/edition_us.rss",
    "Money": "http://rss.cnn.com/rss/money_news_international.rss",
    "Technology": "http://rss.cnn.com/rss/edition_technology.rss",
    "Science & Space": "http://rss.cnn.com/rss/edition_space.rss",
    "Entertainment":"http://rss.cnn.com/rss/edition_entertainment.rss",
    "World Sport":"http://rss.cnn.com/rss/edition_sport.rss",
    "Football" : "http://rss.cnn.com/rss/edition_football.rss",
    "Golf": "http://rss.cnn.com/rss/edition_golf.rss",
    "Motorsport": "http://rss.cnn.com/rss/edition_motorsport.rss",
    "Tennis": "http://rss.cnn.com/rss/edition_tennis.rss",
    "Travel":"http://rss.cnn.com/rss/edition_travel.rss",
    "Video":"http://rss.cnn.com/rss/cnn_freevideo.rss",
    "Most Recent":"http://rss.cnn.com/rss/cnn_latest.rss"}
    for e in CNN_URLS:
        #print('\n La sección es: '+e+ '\n')
        temp = feedparser.parse(CNN_URLS[e])
        for i in range(len(temp['entries'])):
            #print(temp['entries'][i]['title'])
            CNN_list.append(temp['entries'][i]['title'])
            
        
    #print(temp.keys)
    return CNN_list

In [33]:
CNN_list = CNN_parser()

In [34]:
def FOX_parser():
    FOX_list = []
    FOX_URLS = {'Fox':"https://www.foxnews.com/about/rss"}
    
    
    for e in FOX_URLS:
        if hasattr(ssl, '_create_unverified_context'):
            ssl._create_default_https_context = ssl._create_unverified_context
        #print('\n La sección es: '+e+ '\n')
        temp = feedparser.parse(FOX_URLS[e])
        for i in range(len(temp['entries'])):
            #print(temp['entries'][i]['title'])
            FOX_list.append(temp['entries'][i]['title'])
            
        
    #print(temp.keys)
    return FOX_list

In [35]:
FOX_list=FOX_parser()

In [36]:
FOX_list

[]

In [37]:

def WSJ_parser():
    WSJ_list=[]
    WSJ_URLS = {
    "World": "https://feeds.a.dj.com/rss/RSSWorldNews.xml",
    "Opinion": "https://feeds.a.dj.com/rss/RSSOpinion.xml",
    "Business":"https://feeds.a.dj.com/rss/WSJcomUSBusiness.xml",
    "Markets":"https://feeds.a.dj.com/rss/RSSMarketsMain.xml",
    "Technology":"https://feeds.a.dj.com/rss/RSSWSJD.xml",
    "Lifestyle":"https://feeds.a.dj.com/rss/RSSLifestyle.xml"}
    for e in WSJ_URLS:
        #print('\n La sección es: '+e+ '\n')
        temp = feedparser.parse(WSJ_URLS[e])
        for i in range(len(temp['entries'])):
            #print(temp['entries'][i]['title'])
            WSJ_list.append(temp['entries'][i]['title'])
            
        
    #print(temp.keys)
    return WSJ_list

In [38]:
WSJ_list = WSJ_parser()

In [39]:
def BBC_parser():
    BBC_list=[]
    BBC_URLS = {
    "World":"http://feeds.bbci.co.uk/news/world/rss.xml",
    "UK":"http://feeds.bbci.co.uk/news/uk/rss.xml",
    "Business":"http://feeds.bbci.co.uk/news/business/rss.xml",
    "Politics": "http://feeds.bbci.co.uk/news/politics/rss.xml",
    "Health": "http://feeds.bbci.co.uk/news/health/rss.xml",
    "Education": "http://feeds.bbci.co.uk/news/education/rss.xml",
    "Science": "http://feeds.bbci.co.uk/news/science_and_environment/rss.xml",
    "Technology": "http://feeds.bbci.co.uk/news/technology/rss.xml",
    "Entretainment & Arts": "http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml"}
    for e in BBC_URLS:
        #print('\n La sección es: '+e+ '\n')
        temp = feedparser.parse(BBC_URLS[e])
        for i in range(len(temp['entries'])):
            #print(temp['entries'][i]['title'])
            BBC_list.append(temp['entries'][i]['title'])
            
        
    #print(temp.keys)
    return BBC_list

In [40]:
BBC_list = BBC_parser()

In [41]:
def USAT_parser():
    USAT_list=[]
    USAT_URLS = {
    "US":"http://rssfeeds.usatoday.com/UsatodaycomNation-TopStories",
    "World":"http://rssfeeds.usatoday.com/UsatodaycomWorld-TopStories",
    "Opinion":"http://rssfeeds.usatoday.com/News-Opinion",
    "Sports":"http://rssfeeds.usatoday.com/UsatodaycomSports-TopStories",
    "Lifestyle":"http://rssfeeds.usatoday.com/usatoday-LifeTopStories",
    "Money":"http://rssfeeds.usatoday.com/UsatodaycomMoney-TopStories",
    "Tech":"http://rssfeeds.usatoday.com/usatoday-TechTopStories",
    "Travel":"http://rssfeeds.usatoday.com/UsatodaycomTravel-TopStories"}
    for e in USAT_URLS:
        #print('\n La sección es: '+e+ '\n')
        temp = feedparser.parse(USAT_URLS[e])
        for i in range(len(temp['entries'])):
            #print(temp['entries'][i]['title'])
            USAT_list.append(temp['entries'][i]['title'])
            
        
    #print(temp.keys)
    return USAT_list

In [42]:
USAT_list = USAT_parser()

In [43]:
def NYT_parser():
    NYT_list=[]
    NYT_URLS = {
    "World":"https://rss.nytimes.com/services/xml/rss/nyt/World.xml",
    "Politics":"https://rss.nytimes.com/services/xml/rss/nyt/Politics.xml",
    "Business":"https://rss.nytimes.com/services/xml/rss/nyt/Business.xml",
    "Technology":"https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
    "Sports":"https://rss.nytimes.com/services/xml/rss/nyt/Sports.xml"}
    
    for e in NYT_URLS:
        #print('\n La sección es: '+e+ '\n')
        temp = feedparser.parse(NYT_URLS[e])
        for i in range(len(temp['entries'])):
            #print(temp['entries'][i]['title'])
            NYT_list.append(temp['entries'][i]['title'])
            
        
    #print(temp.keys)
    return NYT_list

In [44]:
NYT_list =NYT_parser()

In [45]:
News = CNN_list + FOX_list+WSJ_list+BBC_list+USAT_list+NYT_list

In [46]:
Newsdf = pd.DataFrame(News, columns = ['Titles'])

In [47]:
Newsdf.head()

                                              Titles
0  Trump publicly minimizes impeachment but priva...
1  Graham pokes holes in FBI's Russia investigati...
2  Lemon mocks Trump team's troll: Are you people...
3  Tourists describe 'horrific' aftermath of erup...
4  India passes controversial citizenship bill th...

In [49]:
import nltk

In [64]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English

In [69]:
#!python -m spacy download en

In [65]:
#nltk.download('vader_lexicon')

In [51]:
analyzer = SentimentIntensityAnalyzer()

In [52]:
def neg(s):
    n = analyzer.polarity_scores(s)['neg']
    return n

In [53]:
Newsdf['Negative'] = Newsdf['Titles'].apply(neg)

In [54]:
def neut(s):
    n = analyzer.polarity_scores(s)['neg']
    return n

In [55]:
Newsdf['Neutral'] = Newsdf['Titles'].apply(neut)

In [56]:
def pos(s):
    n = analyzer.polarity_scores(s)['pos']
    return n

In [57]:
Newsdf['Positive'] = Newsdf['Titles'].apply(pos)

In [58]:
def com(s):
    n = analyzer.polarity_scores(s)['compound']
    return n

In [59]:
Newsdf['compound'] = Newsdf['Titles'].apply(com)

In [60]:
#Newsdf['token'] = Newsdf['Titles'].apply(word_tokenize)

In [70]:
nlp=spacy.load('en')

In [71]:
parser=English()

In [72]:
def spacy_tokenizer(sentence):
    tokens=parser(sentence)
    
    filtered_tokens=[]
    for word in tokens:
        lemma=word.lemma_.lower().strip()
        #print (word, lemma)
        if lemma not in STOP_WORDS and re.search('^[a-zA-Z]+$', lemma):
            filtered_tokens.append(lemma)
    
    return filtered_tokens

In [73]:
tfidf=TfidfVectorizer(tokenizer=spacy_tokenizer)

In [74]:
tfidf_matrix=tfidf.fit_transform(Newsdf['Titles'])

In [75]:
terms=tfidf.get_feature_names()

In [76]:
dist=1-cosine_similarity(tfidf_matrix)
#prueba = dist[0:98,0:98]

In [77]:
hdbscan=HDBSCAN()
clusters=hdbscan.fit_predict(dist)

In [83]:
len(clusters)

1353

In [99]:
Newsdf['clusters'] = clusters

In [100]:
Newsdf

,Titles,Negative,Neutral,Positive,compound,clusters
0,Trump publicly minimizes impeachment but priva...,0.000,0.000,0.000,0.0000,-1
1,Graham pokes holes in FBI's Russia investigati...,0.000,0.000,0.000,0.0000,-1
2,Lemon mocks Trump team's troll: Are you people...,0.449,0.449,0.000,-0.6908,-1
3,Tourists describe 'horrific' aftermath of erup...,0.000,0.000,0.211,0.4939,-1
4,India passes controversial citizenship bill th...,0.205,0.205,0.000,-0.2023,4
...,...,...,...,...,...,...
1348,Some N.B.A. Draft-Night Snubs Are Turning Into...,0.307,0.307,0.000,-0.4767,-1
1349,The Knicks Can’t Fix It,0.000,0.000,0.000,0.0000,-1
1350,Eli Manning Returns but Giants Lose to Eagles,0.336,0.336,0.000,-0.5499,-1
1351,Marvin Miller Adds a Missing Piece of Baseball...,0.137,0.137,0.180,0.1779,-1
1352,"At Nike, Employees March to Protest Support fo...",0.157,0.157,0.213,0.1779,-1

In [93]:
tfidf_df=pd.DataFrame(tfidf_matrix.toarray(), columns=terms)

,aaliyah,abandoned,abdul,abiy,able,aboard,abortions,absolutely,abu,abuse,...,zealand,zelensky,zimbabwe,zimbabweans,zombie,zone,zoo,zoos,zozo,zuckerberg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
tfidf_df[clusters==13]

,aaliyah,abandoned,abdul,abiy,able,aboard,abortions,absolutely,abu,abuse,...,zealand,zelensky,zimbabwe,zimbabweans,zombie,zone,zoo,zoos,zozo,zuckerberg
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [115]:
top_words_cluster=tfidf_df[clusters==8].T.sum(axis=1).sort_values(ascending=False)
top_words_cluster.head(10)

zealand     5.478100
volcano     4.371392
new         4.123852
eruption    3.646012
island      2.073555
rescue      1.434834
tourists    1.253926
volcanic    1.246167
white       1.057052
survived    0.940739
dtype: float64

In [122]:
practice = top_words_cluster.keys()[:5]

In [131]:
nlp(practice[0])

zealand

In [125]:
nouns = []
adjectives = []
for token in practice:
    pass
    if token.pos_ == 'NOUN':
        nouns.append(token)
    if token.pos_ == 'ADJ':
        adjectives.append(token)

AttributeError: 'str' object has no attribute 'pos_'

In [133]:
doc = nlp("We try to explicitly describe the geometry of the edges of the images.")

for np in doc.noun_chunks: # use np instead of np.text
    #print(np)
    pass

print()

# code to recursively combine nouns
# 'We' is actually a pronoun but included in your question
# hence the token.pos_ == "PRON" part in the last if statement
# suggest you extract PRON separately like the noun-chunks above

index = 0
nounIndices = []
for token in doc:
    # print(token.text, token.pos_, token.dep_, token.head.text)
    if token.pos_ == 'NOUN':
        nounIndices.append(index)
        print()
    index = index + 1


print(nounIndices)
for idxValue in nounIndices:
    doc = nlp("We try to explicitly describe the geometry of the edges of the images.")
    span = doc[doc[idxValue].left_edge.i : doc[idxValue].right_edge.i+1]
    span.merge()

    for token in doc:
        if token.dep_ == 'dobj' or token.dep_ == 'pobj' or token.pos_ == "PRON":
            print(token.text)

[6, 9, 12]
We
the geometry of the edges of the images
We
geometry
the edges of the images
We
geometry
edges
the images

In [ ]:
#####De aquí para abajo es el código de uaqro

In [ ]:
def CNN_parser():
    CNN_URLS = {
    "Top Stories": "http://rss.cnn.com/rss/edition.rss",
    "World": "http://rss.cnn.com/rss/edition_world.rss",
    "Africa": "http://rss.cnn.com/rss/edition_africa.rss",
    "Americas": "http://rss.cnn.com/rss/edition_americas.rss",
    "Asia": "http://rss.cnn.com/rss/edition_asia.rss",
    "Europe": "http://rss.cnn.com/rss/edition_europe.rss",
    "Middle East": "http://rss.cnn.com/rss/edition_meast.rss",
    "U.S.": "http://rss.cnn.com/rss/edition_us.rss",
    "Money": "http://rss.cnn.com/rss/money_news_international.rss",
    "Technology": "http://rss.cnn.com/rss/edition_technology.rss",
    "Science & Space": "http://rss.cnn.com/rss/edition_space.rss",
    "Entertainment":"http://rss.cnn.com/rss/edition_entertainment.rss",
    "World Sport":"http://rss.cnn.com/rss/edition_sport.rss",
    "Football" : "http://rss.cnn.com/rss/edition_football.rss",
    "Golf": "http://rss.cnn.com/rss/edition_golf.rss",
    "Motorsport": "http://rss.cnn.com/rss/edition_motorsport.rss",
    "Tennis": "http://rss.cnn.com/rss/edition_tennis.rss",
    "Travel":"http://rss.cnn.com/rss/edition_travel.rss",
    "Video":"http://rss.cnn.com/rss/cnn_freevideo.rss",
    "Most Recent":"http://rss.cnn.com/rss/cnn_latest.rss"}

    def getSubtitle(i):
        try: 
            return CNN_RSS.entries[i].summary_detail.value
        except:
            return "N/A"
    def getPublished(i):
        try: 
            return CNN_RSS.entries[i].published
        except:
            return "N/A"
    def getMedia(i):
        try: 
            return CNN_RSS.entries[i].media_content[0]['url']
        except:
            return "N/A"

    CNN_feed = pd.DataFrame()
    for k in range(len(CNN_URLS)):
        CNN_RSS = feedparser.parse(list(CNN_URLS.values())[k])
        for i in range(len(CNN_RSS.entries)):
            title = [CNN_RSS.entries[i].title for i in range(len(CNN_RSS.entries))]
            subtitle = [ getSubtitle(i) for i in range(len(CNN_RSS.entries))]
            url = [CNN_RSS.entries[i].links[0].href for i in range(len(CNN_RSS.entries))]
            timestamp = [getPublished(i) for i in range(len(CNN_RSS.entries))]
            original_image = [getMedia(i) for i in range(len(CNN_RSS.entries))]
            section = [list(CNN_URLS.keys())[k] for i in range(len(CNN_RSS.entries))]
            CNN_RSS_feed_p = pd.DataFrame([title, subtitle, url, timestamp, original_image]).transpose()
            CNN_feed.append(CNN_RSS_feed_p, ignore_index=True)
    
    return CNN_feed
    
def FOX_parser():
    FOX_URLS = {'Fox':"https://www.foxnews.com/about/rss"}

def WSJ_parser():
    #Proxys?? Da error 503, hay que ver como hacerle
    WSJ_URLS = {
    "World": "https://feeds.a.dj.com/rss/RSSWorldNews.xml",
    "Opinion": "https://feeds.a.dj.com/rss/RSSOpinion.xml",
    "Business":"https://feeds.a.dj.com/rss/WSJcomUSBusiness.xml",
    "Markets":"https://feeds.a.dj.com/rss/RSSMarketsMain.xml",
    "Technology":"https://feeds.a.dj.com/rss/RSSWSJD.xml",
    "Lifestyle":"https://feeds.a.dj.com/rss/RSSLifestyle.xml"}
    
def BBC_parser():
    BBC_URLS = {
    "World":"http://feeds.bbci.co.uk/news/world/rss.xml",
    "UK":"http://feeds.bbci.co.uk/news/uk/rss.xml",
    "Business":"http://feeds.bbci.co.uk/news/business/rss.xml",
    "Politics": "http://feeds.bbci.co.uk/news/politics/rss.xml",
    "Health": "http://feeds.bbci.co.uk/news/health/rss.xml",
    "Education": "http://feeds.bbci.co.uk/news/education/rss.xml",
    "Science": "http://feeds.bbci.co.uk/news/science_and_environment/rss.xml",
    "Technology": "http://feeds.bbci.co.uk/news/technology/rss.xml",
    "Entretainment & Arts": "http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml"}

    BBC_feed = pd.DataFrame()
    for k in range(len(BBC_URLS)):
        BBC_RSS = feedparser.parse(list(BBC_URLS.values())[k])
        for i in range(len(BBC_RSS.entries)):
            title = [BBC_RSS.entries[i].title for i in range(len(BBC_RSS.entries))]
            subtitle = [ BBC_RSS.entries[i].summary for i in range(len(BBC_RSS.entries))]
            url = [BBC_RSS.entries[i].links[0].href for i in range(len(BBC_RSS.entries))]
            timestamp = [BBC_RSS.entries[0].published for i in range(len(BBC_RSS.entries))]
            section = [list(BBC_RSS.keys())[k] for i in range(len(BBC_RSS.entries))]
            BBC_RSS_feed_p = pd.DataFrame([title, subtitle, url, timestamp, section]).transpose()
            BBC_feed.append(CNN_RSS_feed_p, ignore_index=True)
    
    return BBC_feed

def USAT_parser():
    
    USAT_URLS = {
    "US":"http://rssfeeds.usatoday.com/UsatodaycomNation-TopStories",
    "World":"http://rssfeeds.usatoday.com/UsatodaycomWorld-TopStories",
    "Opinion":"http://rssfeeds.usatoday.com/News-Opinion",
    "Sports":"http://rssfeeds.usatoday.com/UsatodaycomSports-TopStories",
    "Lifestyle":"http://rssfeeds.usatoday.com/usatoday-LifeTopStories",
    "Money":"http://rssfeeds.usatoday.com/UsatodaycomMoney-TopStories",
    "Tech":"http://rssfeeds.usatoday.com/usatoday-TechTopStories",
    "Travel":"http://rssfeeds.usatoday.com/UsatodaycomTravel-TopStories"}
    
    def getUSATMedia(i):
        try: 
            return USAT_feed_p.entries[i].links[1].href
        except:
            return "N/A"
    USAT_feed = []
    for k in range(len(USAT_URLS)):
        USAT_RSS = feedparser.parse(list(USAT_URLS.values())[k]).entries
        for i in range(len(USAT_RSS)):
            title =  [USAT_feed_p.entries[i].title for i in range(len(USAT_RSS))]
            #summary = [re.findall('(?<=<p>).*(?=</p>)', USAT_feed_p.entries[i].content[0].value)[0]) for i in range(len(USAT_RSS))]
            url = [USAT_feed_p.entries[i].feedburner_origlink for i in range(len(USAT_RSS))]
            timestamp = [USAT_feed_p.entries[i].published for i in range(len(USAT_RSS))]
            image = [getUSATMedia(i) for i in range(len(USAT_RSS))]
            section = [list(USAT_URLS.keys())[k] for i in range(len(USAT_RSS))]
            USAT_feed.append([title, summary, url, timestamp, image, section])
    
    return USAT_feed

In [ ]:
NYT_RSS = feedparser.parse("https://rss.nytimes.com/services/xml/rss/nyt/World.xml")

In [ ]:
NYT_RSS.entries[0].media_content[0]['url']

In [ ]:
NYT_RSS.entries

In [ ]:
NYT_feed = []
def getNYTMedia(i):
    try: 
        return media == NYT_RSS.entries[i].media_content[0]['url']
    except:
        return "N/A"
    
for k in range(len(NYT_URLS)):
    NYT_RSS = feedparser.parse(list(NYT_URLS.values())[k]).entries
    for i in range(len(NYT_RSS)):
        title = [NYT_RSS.entries[i].title for i in range(len(NYT_RSS))]
        url = [NYT_RSS.entries[i].link for i in range(len(NYT_RSS))]
        summary = [NYT_RSS.entries[i].summary for i in range(len(NYT_RSS))]
        timestamp = [NYT_RSS.entries[i].published for i in range(len(NYT_RSS))]
        media = [getNYTMedia(i) for i in range(len(NYT_RSS))]
        section = [list(NYT_URLS.keys())[k] for i in range(len(NYT_RSS))]
        NYT_feed.append([title, summary, url, timestamp, media, section])

In [ ]:
NYT_URLS = {
    "World":"https://rss.nytimes.com/services/xml/rss/nyt/World.xml",
    "Africa":
    "Americas":
    "Asia Pacific":
    "Europe":
    "Middle East":
    "US":
    "Education":
    "Politics":"https://rss.nytimes.com/services/xml/rss/nyt/Politics.xml"
    "Business":"https://rss.nytimes.com/services/xml/rss/nyt/Business.xml",
    "Technology":"https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
    "Sports":"https://rss.nytimes.com/services/xml/rss/nyt/Sports.xml",
    
    
    
    
}